In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('Loan_data.csv')

In [3]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df_train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

# การทำ Feature Engineering

In [5]:
df_pre = df_train.copy()

In [6]:
df_pre.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [8]:
df_pre['LoanAmount'].fillna(df_pre['LoanAmount'].mean(),inplace=True)
df_pre['Loan_Amount_Term'].fillna(df_pre['Loan_Amount_Term'].mean(),inplace=True)
df_pre['Credit_History'].fillna(df_pre['Credit_History'].mean(),inplace=True)
df_pre.dropna(inplace=True)
df_pre.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
df_pre.loc[(df_pre['Gender']=='Male'),'Gender'] = 0
df_pre.loc[(df_pre['Gender']=='Female'),'Gender'] = 1
df_pre.loc[(df_pre['Married']=='No'),'Married'] = 0.0
df_pre.loc[(df_pre['Married']=='Yes'),'Married'] = 1.0
df_pre.loc[(df_pre['Dependents']=='0'),'Dependents'] = 0.0
df_pre.loc[(df_pre['Dependents']=='1'),'Dependents'] = 1.0
df_pre.loc[(df_pre['Dependents']=='2'),'Dependents'] = 2.0
df_pre.loc[(df_pre['Dependents']=='3+'),'Dependents'] = 3.0
df_pre.loc[(df_pre['Self_Employed']=='No'),'Self_Employed'] = 0.0
df_pre.loc[(df_pre['Self_Employed']=='Yes'),'Self_Employed'] = 1.0
df_pre.loc[(df_pre['Education']=='Not Graduate'),'Education'] = 0.0
df_pre.loc[(df_pre['Education']=='Graduate'),'Education'] = 1.0
df_pre.loc[(df_pre['Property_Area']=='Urban'),'Property_Area'] = 0.0
df_pre.loc[(df_pre['Property_Area']=='Rural'),'Property_Area'] = 1.0
df_pre.loc[(df_pre['Property_Area']=='Semiurban'),'Property_Area'] = 2.0
df_pre.loc[(df_pre['Loan_Status']=='N'),'Loan_Status'] = 0.0
df_pre.loc[(df_pre['Loan_Status']=='Y'),'Loan_Status'] = 1.0
df_pre.drop('Loan_ID',axis=1,inplace=True)

In [10]:
df_pre.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,0,1
1,0,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,1,0
2,0,1,0,1,1,3000,0.0,66.000000,360.0,1.0,0,1
3,0,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,0,1
4,0,0,0,1,0,6000,0.0,141.000000,360.0,1.0,0,1

# Train and Test Split

In [11]:
X = df_pre.drop('Loan_Status',axis=1)
y = df_pre['Loan_Status']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=42)

In [14]:
X_train.shape

(415, 11)

In [15]:
X_test.shape

(139, 11)

In [16]:
X_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
606,0,1,1,1,0,3400,2500.0,173.000000,360.0,1.0,2
603,0,0,0,1,0,3676,4301.0,172.000000,360.0,1.0,1
180,0,1,1,1,0,6400,7250.0,180.000000,360.0,0.0,0
437,0,1,0,1,0,2213,1125.0,146.412162,360.0,1.0,0
138,0,0,0,1,0,14999,0.0,242.000000,360.0,0.0,2

In [17]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
89,0,1,0,1,0,5695,4167.0,175.0,360.0,1.0,2
87,0,1,0,1,0,2500,2118.0,104.0,360.0,1.0,2
289,0,0,0,1,0,9508,0.0,187.0,360.0,1.0,1
512,0,1,2,1,0,3283,2035.0,148.0,360.0,1.0,0
182,0,1,0,1,0,4600,0.0,73.0,180.0,1.0,2

In [18]:
y_train.head()

606    1
603    1
180    0
437    1
138    0
Name: Loan_Status, dtype: int64

In [19]:
y_test.head()

89     1
87     1
289    1
512    1
182    1
Name: Loan_Status, dtype: int64

# Feature Scaling

In [20]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [21]:
X_train

array([[-0.46200681,  0.72507606,  0.2722604 , ...,  0.28973782,
         0.45129155,  1.11851642],
       [-0.46200681, -1.37916565, -0.73656162, ...,  0.28973782,
         0.45129155, -0.08403362],
       [-0.46200681,  0.72507606,  0.2722604 , ...,  0.28973782,
        -2.41393114, -1.28658365],
       ...,
       [-0.46200681,  0.72507606,  0.2722604 , ...,  0.28973782,
         0.45129155,  1.11851642],
       [-0.46200681,  0.72507606, -0.73656162, ...,  0.28973782,
         0.45129155,  1.11851642],
       [ 2.16447026, -1.37916565,  0.2722604 , ...,  0.28973782,
         0.45129155,  1.11851642]])

In [22]:
X_test

array([[-0.5022472 ,  0.73786479, -0.8017755 , ...,  0.2453318 ,
         0.44164674,  1.15073243],
       [-0.5022472 ,  0.73786479, -0.8017755 , ...,  0.2453318 ,
         0.44164674,  1.15073243],
       [-0.5022472 , -1.35526185, -0.8017755 , ...,  0.2453318 ,
         0.44164674, -0.01679901],
       ...,
       [-0.5022472 , -1.35526185, -0.8017755 , ...,  0.2453318 ,
         0.44164674, -0.01679901],
       [-0.5022472 ,  0.73786479,  0.14268886, ...,  0.2453318 ,
         0.44164674, -0.01679901],
       [-0.5022472 , -1.35526185, -0.8017755 , ...,  2.23373529,
         0.44164674, -1.18433046]])